# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Debug and log files
*.log
*.vspscc
*.vssscc
*.pdb
*.cache
*.dbmdl

# Package files
*.nupkg
packages/

# Runtime output
*.exe
*.dll
*.app
*.msi

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Rider/JetBrains
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Kafka local settings (optional)
*.kafka

# Publish folder (optional)
publish/
